@model Caffeina.Models.Utilisateur

@{
    ViewData["Title"] = "Details catégorie";
    Layout = "_layoutadmine";
}
<div id="wrapper">

    <!-- Sidebar -->
    @Html.Partial("_Navbar")
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            @Html.Partial("_Topbar")
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Détail - Utilisateur</h1>
                </div>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Nom)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Nom)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.MotDePasse)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.MotDePasse)
                    </dd>
                </dl>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model?.IdUtilisateur" class="a-lien">Modifier</a> |
                    <a asp-action="Index" class="a-lien">Voir liste</a>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        @Html.Partial("_Footer")
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}