@model Caffeina.Models.Produit

@{
    ViewData["Title"] = "Supprimer produit";
    Layout = "_layoutadmine";
}

<div id="wrapper">

    <!-- Sidebar -->
    @Html.Partial("_Navbar")
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            @Html.Partial("_Topbar")
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Supprimer - Produit</h1>
                    <h3>Êtes-vous sûr de vouloir supprimer ceci ?</h3>
                </div>
                <div>
                    <h4>Categorie</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.NomProduit)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.NomProduit)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.SourceImage)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.SourceImage)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Prix)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Prix)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Stock)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Stock)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.IdCategorieNavigation)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.IdCategorieNavigation.IdCategorie)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="IdProduit" />
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                        <a asp-action="Index">Voir listet</a>
                    </form>
                </div>

            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        @Html.Partial("_Footer")
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}




